//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "./settings.scss";

body {
  background-color: $bcg-color;
  //font-family: 'Montserrat', sans-serif;
  color: black;
  overflow-x: hidden;
  font-size: 14px;
  margin: 0;
  box-sizing: border-box;
}