$base-size: 18px;

$bcg-color: #f1f1f4;
$bcg-color-white: #ffffff;
$color-white: #ffffff;
$bcg-dark: #212121;
$dark: #212121;
$dark-gray: #767676;
$light-gray: #c9c9c9;
$gold-brown: #f39f31;
$gold-brown-light:#f7cf83;
